| Cześć #{name}
|   Dziękujemy za skorzystanie z naszego generatora.
|   Twój wygenerowany plan znajduje się w załączniku.
|   W razie jakichkolwiek pytań jesteśmy do Pańskiej dyspozycji.
|   Pozdrawiamy,
|   Zespół Maupapp