h1 Cześć #{name}
p.
   Dziękujemy za zakup naszego produktu.<br>
   Poniżej znajdziesz wszystkie informacje potrzebne do wykonania przelewu. Po zaksięgowaniu środków, trener skontaktuje się z tobą w ciągu 48 godzin.<br>
   Tytuł przelewu: #{orderId}<br>
   Numer konta: <br>
   Kwota: #{price}<br>
   W razie jakichkolwiek pytań jesteśmy do Pańskiej dyspozycji.<br>
   Pozdrawiamy,<br>
   Zespół Maupapp