| Cześć #{name}
|   Dziękujemy za zakup naszego produktu.
|   Poniżej znajdziesz wszystkie informacje potrzebne do wykonania przelewu. Po zaksięgowaniu środków, trener skontaktuje się z tobą w ciągu 48 godzin.
|   Tytuł przelewu:
|   Numer konta: 
|   W razie jakichkolwiek pytań jesteśmy do Pańskiej dyspozycji.
|   Pozdrawiamy,
|   Zespół Maupapp